.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.3fr 1.7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .Verde { grid-area: 1 / 1 / 4 / 3; }
  
  .Login { grid-area: 2 / 2 / 3 / 6; }
  
  .name- { grid-area: 2 / 2 / 3 / 4; }
  
  .Form { grid-area: 2 / 4 / 3 / 6; }
  